[submodule "pelican-themes"]
	path = pelican-themes
	url = git@github.com:torgiren/pelican-themes
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
